.detail {
    margin-top: 50px;
}

.image {
    width: 160px;
    height: 160px;
}

.ton {
    margin-left: 405px;
    margin-top: 30px;
    width: 200px;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
}

.toogle {
    width: 358px;
    height: 36px;
}

.bold {
    margin-left: 230px;
}