.foot {
    position: absolute;
    top: 1900px;  
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 10px;
}

.fot {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.tex {
    list-style-type: none;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin-top: 26px;
}