.link {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin-left: 20px;
}

.button {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border-radius: 2px;
    margin-left: 20px;
}

.hero {
    background-color: #f1f3ff;
    width: 1300px;
}

.head {
    position: absolute;
    left: 30px;
}

.section {
    background-color: #f1f3ff;
    height: 500px;
    width: 1300px;
}

.title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #000;
    top: 177px;
    position: absolute;
    left: 30px;
}

.text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin-top: 10px;
    position: absolute;
    top: 301px;
    left: 30px;
}

.img {
    position: absolute;
    top: 97px;
    left: 600px;
    
}

.buton {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 390px;
    left: 30px;
}