.main {
    position: absolute;
    top: 458px;
    left: 45px;
    width: 1200px;
    height: 106px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: #f1f3ff;
}

.type {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    flex: none;
    align-self: stretch;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7px 10px;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.butto {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left:  10px;
    margin-right: 10px;
    margin-top: 40px;
    height: 36px;
    
}